# FIRST INSTALL LIBRARIES

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\beulah\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\beulah\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\beulah\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\beulah\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\beulah\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\beulah\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\beulah\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\beulah\anaconda3\lib\site-packages (from requests) (2.0.4)

# IMPORT REQUIRED LIBRARIES

In [2]:
from bs4 import BeautifulSoup
import requests

# Q1). Write a python program to display all the header tags from wikipedia.org.

# Sending get request to the webpage server

In [3]:
# to get the source code of the page

url = 'https://en.wikipedia.org'

response = requests.get(url)
response

In [4]:
soup = BeautifulSoup(response.text)
#soup

In [5]:
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])

print("List of all the h1, h2, h3, h4, h5, h6 :\n")
for heading in titles:
    print(heading.name + ' ' + heading.text.strip())

List of all the h1, h2, h3, h4, h5, h6 :

h1 Main Page
h1 Welcome to Wikipedia
h2 From today's featured article
h2 Did you know ...
h2 In the news
h2 On this day
h2 Today's featured picture
h2 Other areas of Wikipedia
h2 Wikipedia's sister projects
h2 Wikipedia languages
h2 Navigation menu
h3 Personal tools
h3 Namespaces
h3 Views
h3 Search
h3 Navigation
h3 Contribute
h3 Tools
h3 Print/export
h3 In other projects
h3 Languages

# Q2). Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [6]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'

response = requests.get(url)
response

In [7]:
soup = BeautifulSoup(response.content)

In [8]:
top100movie_name = [ ]
year = [ ]
movie_rating = [ ]

In [9]:
top100movie_data = soup.find_all('div', class_='lister-item mode-advanced')

In [10]:
for i in top100movie_data:
    name = i.h3.a.text
    top100movie_name.append(name)

In [11]:
for i in top100movie_data:
    year_of_release = i.h3.find('span', class_='lister-item-year').text.replace('(',"").replace(')',"")
    year.append(year_of_release)

In [12]:
for i in top100movie_data:
    mr = i.find('div', class_='inline-block ratings-imdb-rating').text.replace('\n',"")
    movie_rating.append(mr)

In [13]:
# create dataframe

import pandas as pd

df = pd.DataFrame({'Movie_Name':top100movie_name,
                    'Year_of_Release':year,
                    'Rating':movie_rating})

In [14]:
df.head()

                                      Movie_Name Year_of_Release Rating
0                       The Shawshank Redemption            1994    9.3
1                                        Kantara            2022    9.2
2                                  The Godfather            1972    9.2
3                                The Dark Knight            2008    9.0
4  The Lord of the Rings: The Return of the King            2003    9.0

# Q3). Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame¶

In [15]:
url = 'https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1'

response = requests.get(url)
response

soup = BeautifulSoup(response.content)

In [16]:
indiantop100movie_name = [ ]
released_year = [ ]
movie_rating = [ ]

In [17]:
indiantop100movie_data = soup.find_all('div', class_='lister-item mode-detail')

In [18]:
for i in indiantop100movie_data:
    name = i.h3.a.text
    indiantop100movie_name.append(name)
    
   
    year_of_release = i.h3.find('span', class_='lister-item-year').text.replace('(',"").replace(')',"")
    released_year.append(year_of_release)
    
    mr = i.find('span', class_='ipl-rating-star__rating').text.replace('\n',"")
    #print(mr)
    movie_rating.append(mr)
    #print(movie_rating)

In [19]:
# create dataframe

import pandas as pd

df = pd.DataFrame({'Movie_Name':indiantop100movie_name,
                    'Year_of_Release':released_year,
                    'Rating':movie_rating})

In [20]:
df.head()

              Movie_Name Year_of_Release Rating
0        Sagara Sangamam            1983    8.8
1  Goopy Gyne Bagha Byne            1969    8.7
2                Nayakan            1987    8.6
3        Pushpaka Vimana            1987    8.6
4            Apur Sansar            1959    8.5

# Q4). Write a python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [21]:
url = 'https://presidentofindia.nic.in/former-presidents.htm'

response = requests.get(url)
htmlcontent = response.content

soup = BeautifulSoup(htmlcontent)

In [22]:
former_president_names = [ ]
office_term = [ ]

In [23]:
president_list = soup.find_all('div', class_='presidentListing')

In [24]:
for i in president_list:
    names = i.h3.text
    #print(names)
    former_president_names.append(names)

In [25]:
for i in president_list:
    ot = i.find('p').text.replace('Term of Office:','')
    print(ot)
    office_term.append(ot)

 25 July, 2017 to 25 July, 2022
 25 July, 2012 to 25 July, 2017
 25 July, 2007 to 25 July, 2012
 25 July, 2002 to 25 July, 2007
 25 July, 1997 to 25 July, 2002
 25 July, 1992 to 25 July, 1997
 25 July, 1987 to 25 July, 1992
 25 July, 1982 to 25 July, 1987
 25 July, 1977 to 25 July, 1982
 24 August, 1974 to 11 February, 1977
 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
 13 May, 1967 to 3 May, 1969
 13 May, 1962 to 13 May, 1967
 26 January, 1950 to 13 May, 1962

In [26]:
import pandas as pd
df=pd.DataFrame({'Name':former_president_names,
                 'Term':office_term})
df

,Name,Term
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [27]:
df.columns

Index(['Name', 'Term'], dtype='object')

# Q7). Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :i) Headlineii) Timeiii) News Link

In [28]:
#from datetime import date
from datetime import datetime
today = datetime.today()
d = today.strftime("%m-%d-%y")

In [29]:
print("Todays date:", d)

Todays date: 10-29-22

In [30]:
cnbc_url="https://www.cnbc.com/world/?region=world".format(d)
r = requests.get(cnbc_url)
r

In [31]:
soup = BeautifulSoup(r.content)
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
for link in titles:
    print("Headline : {}".format(link.text))

Headline : Big Tech falters on dreary earnings and forecasts — Meta has worst week ever, Amazon tumbles 13%
Headline : Latest News
Headline : QUOTE FINDER
Headline : Markets
Headline : Market MOVERS
Headline : Most Active
Headline : Unusual Volume
Headline : Latest Market News
Headline : Special Reports
Headline : Trending Now
Headline : Pro News and Analysis
Headline : Sustainable Future
Headline : Coronavirus
Headline : CNBC Travel
Headline : Make It
Headline : Investing in supertrends
Headline : News Tips
Headline : Advertise With Us
Headline : CNBC Newsletters

In [32]:
now = datetime.now() # current date and time

#year = now.strftime("%Y")
#print("year:", year)

#month = now.strftime("%m")
#print("month:", month)

#day = now.strftime("%d")
#print("day:", day)

d = now.strftime("%m-%d-%y")
time = now.strftime("%H:%M:%S")
print("Day:", d)
print("Time:", time)

#date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
#print("date and time:",date_time)

Day: 10-29-22
Time: 19:22:42

In [33]:
news_links = []
for nl in soup.find_all('div', class_="RiverPlusCard-container"):
    news_links.append(nl.a['href'])
#news.a['href'])RiverPlusCard-container
#RiverPlusCard-container
#Home Page International PageBuilder-page
news_links

['https://www.cnbc.com/2022/10/28/gm-temporarily-suspends-advertising-on-twitter-following-elon-musk-takeover.html',
 'https://www.cnbc.com/2022/10/28/house-speaker-pelosi-husband-assaulted-at-home-assailant-arrested.html',
 '/pro/',
 'https://www.cnbc.com/2022/10/29/philippines-death-toll-from-tropical-storm-nalgae-climbs-to-72.html',
 'https://www.cnbc.com/2022/10/28/russia-ukraine-live-updates.html',
 'https://www.cnbc.com/2022/10/28/imf-asia-would-have-most-to-lose-if-economic-fragmentation-worsens.html',
 'https://www.cnbc.com/2022/10/28/sunak-is-almost-a-billionaire-with-a-net-worth-double-king-charles.html',
 'https://www.cnbc.com/2022/10/29/us-says-north-korea-policy-unchanged-after-nuclear-remark-raises-eyebrows.html',
 'https://www.cnbc.com/2022/10/28/musk-first-day-owning-twitter-leads-to-havoc-and-possible-hoax-.html',
 '/pro/',
 'https://www.cnbc.com/2022/10/28/pce-inflation-september-2022-.html',
 'https://www.cnbc.com/2022/10/28/musk-plans-twitter-content-moderation-council-as-questions-about-trump-return-loom.html',
 '/pro/',
 'https://www.cnbc.com/2022/10/28/pending-home-sales-fell-10percent-in-september-from-august.html',
 '/pro/',
 'https://www.cnbc.com/2022/10/28/eu-official-warns-musk-hell-have-to-fly-by-our-rules-as-he-buys-twitter.html',
 'https://www.cnbc.com/2022/10/28/energy-crisis-europe-gas-prices-drop-but-could-rise-in-coming-months.html',
 'https://www.cnbc.com/2022/10/28/europe-telco-industry-pushes-big-tech-to-pay-for-building-the-internet.html']

# Q8). Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details : i) Paper Title ii) Authors iii) Published Date iv) Paper URL

In [34]:
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

Books=BeautifulSoup(page.content)

In [35]:
# Paper Title
#Title=Books.find('h2')
#Title
#Title.text

Title=[]
for i in Books.find_all('h2'):
    Title.append(i.text)
#Title

Author=[]
for i in Books.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    Author.append(i.text)
    
Date=[]
for i in Books.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    Date.append(i.text)
#Date

paperurl_links = []
for pul in Books.find_all('a', class_="sc-5smygv-0 nrDZj"):
    paperurl_links.append(pul['href'])

In [36]:
import pandas as pd
df=pd.DataFrame({"Title":Title, "Author":Author, "Published Date":Date, "Paper URL":paperurl_links})
df

,Title,Author,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q9). Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [37]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

soup = BeautifulSoup(page.content)
#soup

In [38]:
names = []

for i in soup.find_all('div',class_="restnt-info cursor"):
    names.append(i.text)
    
names

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon']

In [39]:
locations = []

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    locations.append(i.text)
    
locations

price = []

for i in soup.find_all('span',class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
    
price

ratings= []

for i in soup.find_all("div",class_="restnt-rating rating-4"):
    ratings.append(i.text)

ratings

images = []

for i in soup.find_all("img",class_="no-img"):
    images.append(i['data-src'])
    
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [40]:
import pandas as pd
df = pd.DataFrame({'Names':names,'Locations':locations,'Price':price,
                   'Rating':ratings,'Images_url':images})
df

,Names,Locations,Price,Rating,Images_url
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,680 for 2 (approx)",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Q10). Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en i) Rank ii) Publication iii) h5-index iv) h5-median

In [41]:
url = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'

response = requests.get(url)
response

soup = BeautifulSoup(response.content)
#soup

In [42]:
rank = []
publication = []

In [43]:
for i in soup.find_all('td', class_='gsc_mvt_p'):
    
    rank.append(i.text)
#rank

In [44]:
for i in soup.find_all('td',class_='gsc_mvt_t'):
    publication.append(i.text)
#publication

In [45]:
h5index=[]
for i in soup.find_all('a',class_='gs_ibl gsc_mp_anchor'):
    h5index.append(i.text)

In [46]:
h5median=[]
for i in soup.find_all('span',class_='gs_ibl gsc_mp_anchor'):
    h5median.append(i.text)
#h5median

In [47]:
# create dataframe

import pandas as pd

df = pd.DataFrame({'Rank':rank,
                    'Publication':publication,
                    'h5-index':h5index,
                    'h5-median':h5median
                  })
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]