- Customers: stores customerâ€™s data.
- Products: stores a list of scale model cars.
- ProductLines: stores a list of product line categories.
- Orders: stores sales orders placed by customers.
- OrderDetails: stores sales order line items for each sales order.
- Payments: stores payments made by customers based on their accounts.
- Employees: stores all employee information as well as the organization structure such as who reports to whom.
- Offices: stores sales office data.

In [1]:
import sqlite3

In [2]:
# connecting with the database

db = sqlite3.connect("Customer_database.db")

In [3]:
# Declare cursor

cursor = db.cursor()

In [8]:
cursor.execute("drop table customers_table")
cursor.execute("drop table if exists orders_table")

# 1. Write SQL query to create table Customers.

In [9]:
# Creating customer table

cursor.execute("create table customers_table(customerNumber text primary key,customerName text,contactLastName text,contactFirstName text,phone int,addressline1 text,addressline2 text,city text,state text,postalCode int,country text,salesRepEmployeeNumber text,creditLimit int)")

In [10]:
# inserting records in the customer table

cursor.execute("insert into customers_table values('c1','abc','c','a',9876543210,'rknagar','miyapur','hyderabad','telangana',500049,'India','s102',5500),('c2','xyz','z','x',9876543211,'bnagar','kukatpally','karimnagar','telangana',505187,'India','s103',10000)")

db.commit()

# 2. Write SQL query to create table Orders.

In [11]:
# creating orders table

cursor.execute("create table orders_table(orderNumber text primary key,orderDate date,requiredDate date,shippedDate date,status text,comments text,customerNumber text, foreign key(customerNumber) references customers_table(customerNumber))")

# 3. Write SQL query to show all the columns data from the Orders Table.

In [12]:
# Display columns

print('\nColumns in Orders Table:\n')
data=cursor.execute("select * from orders_table")
for column in data.description:
    print(column[0])

Columns in Orders Table:

orderNumber
orderDate
requiredDate
shippedDate
status
comments
customerNumber

In [13]:
# inserting data into orders table

cursor.execute("insert into orders_table values('o1','2022-10-10','2022-10-28','2022-10-12','shipped','order1','c1'),('o2','2022-11-05','2022-11-15','2022-11-06','packed','order2','c3')")
db.commit()

# 4. Write SQL query to show all the comments from the OrdersTable.

In [14]:
results = cursor.execute("select comments from orders_table")

for row in results:
    print(row)

('order1',)
('order2',)

# 5. Write a SQL query to show orderDate and Total number of orders placed on that date, from Orderstable.

In [15]:
cursor.execute("insert into orders_table values('o3','2022-10-10','2022-10-28','2022-10-12','in progress','order3','c2'),('o4','2022-11-05','2022-11-15','2022-11-06','packed','order4','c4')")
db.commit()

In [16]:
results = cursor.execute("select * from orders_table")

for row in results:
    print(row)

('o1', '2022-10-10', '2022-10-28', '2022-10-12', 'shipped', 'order1', 'c1')
('o2', '2022-11-05', '2022-11-15', '2022-11-06', 'packed', 'order2', 'c3')
('o3', '2022-10-10', '2022-10-28', '2022-10-12', 'in progress', 'order3', 'c2')
('o4', '2022-11-05', '2022-11-15', '2022-11-06', 'packed', 'order4', 'c4')

In [17]:
results = cursor.execute("select orderDate, count(orderNumber) from orders_table  where orderDate='2022-10-10'")

for row in results:
    print(row)

('2022-10-10', 2)

# 6. Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees table.

In [18]:
cursor.execute("create table employees_table(employeeNumber text primary key,lastName text,firstName,email text,officeCode text,reportsTo text,jobTitle text)")

In [19]:
# inserting records in the employees table

cursor.execute("insert into employees_table values('e001','saxena','ajay','aj@gmail.com','oc33','manager','dataanalyst'),('e002','sharma','vijay','vj@gmail.com','oc33','manager','datascientist')")

db.commit()

In [20]:
results = cursor.execute("select employeeNumber,lastName,firstName from employees_table")

for row in results:
    print(row)

('e001', 'saxena', 'ajay')
('e002', 'sharma', 'vijay')

# 7. Write a SQL query to show all orderNumber, customerName of the person who placed the respective order.

In [21]:
cursor.execute("insert into customers_table values('c11','raju','r','j',9876543410,'sknagar','ameerpet','hyderabad','telangana',500044,'India','s112',5500),('c8','rohit','h','t',9856543211,'sknagar','jyotinagar','peddapally','telangana',505185,'India','s156',25000)")

db.commit()

In [25]:
cursor.execute("insert into customers_table values('c3','satyaraju','s','y',9876553410,'ramnagar','steel plant','bhilai','chattisgarh',405034,'India','s11',55500),('c4','ramana','ch','reddy',9857643211,'jamnagar','rkpuram','karimnagar','telangana',512185,'India','s56',55000)")

db.commit()

In [26]:
sql = "select customers_table.customerNumber, orders_table.orderNumber from customers_table left join orders_table on customers_table.customerNumber=orders_table.customerNumber"

results = cursor.execute(sql)
for row in results:
    print(row)

('c1', 'o1')
('c11', None)
('c2', 'o3')
('c3', 'o2')
('c4', 'o4')
('c8', None)

# 8. Write a SQL query to show name of all the customers in one column and salerepemployee name in another column.

# 9. Write a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.

# 10. Write a SQL query to show all the products productName, MSRP, productDescription from the products table.

# 11. Write a SQL query to print the productName, productDescription of the most ordered product.

# 12. Write a SQL query to print the city name where maximum number of orders were placed.

# 13. Write a SQL query to get the name of the state having maximum number of customers.

# 14. Write a SQL query to print the employee number in one column and Full name of the employee in the second column for all the employees.

# 15. Write a SQL query to print the orderNumber, customer Name and total amount paid by the customer for that order (quantityOrdered Ã— priceEach)